 body {
 	margin: 0;
 	font-family: "Roboto", sans-serif;
 }

 button {
 	all: unset;
 }

 h3 {
 	color: white;
 	font-size: 14px;
 	font-weight: 500;
 	margin: 0;
 }

 ul {
 	list-style: none;
 	padding: 0;
 	margin: 0;
 }

 p {
 	margin: 0;
 }

 .icon {
 	color: white;
 }

 .container {
 	background-color: #222222;
 	min-height: 100vh;
 	min-width: 100vw;
 	display: flex;
 }

 .sidebar {
 	display: flex;

 	background-color: #171717;
 	padding: 0 12px 12px 12px;
 	flex-direction: column;
 }

 .logo {
 	height: 28px;
 	width: 28px;
 	background-color: white;
 	border-radius: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;

 }

 .new-chat-container {
 	padding-top: 14px;
 	width: 236px;
 }

 .new-chat-container>div {
 	padding: 0 8px;
 	height: 40px;
 	display: flex;
 	align-items: center;
 	gap: 8px;

 }

 .new-chat-container>div:hover {
 	background-color: #212121;
 	border-radius: 8px;

 }

 .logo svg {
 	height: 20px;
 	width: 20px;
 }

 .new-chat-container h3 {
 	flex: 1;
 }

 .chats-container {
 	flex: 1;
 	width: 236px;
 }


 .chat-group {
 	margin-top: 20px;
 	display: flex;
 	flex-direction: column;
 }

 .chat-group>span {
 	padding: 12px 8px 8px;
 	flex: 1;
 	color: #9b9b9b;
 	font-size: 12px;
 }



 .chat {
 	display: flex;
 	align-items: center;
 	padding: 8px;
 	justify-content: space-between;
 	cursor: pointer;
 }

 .chat:hover {
 	background-color: #212121;
 	border-radius: 8px;
 }

 .chat span {
 	color: #ececec;
 	font-size: 14px;

 }

 .chat svg {
 	color: #ececec;
 	cursor: pointer;

 }

 .chat svg:hover {
 	color: #b4b4b4;

 }

 .chat-icons {
 	display: flex;
 	visibility: hidden;
 	align-items: center;
 	gap: 4px;
 }

 .chat:hover .chat-icons {
 	visibility: visible;
 }

 .bottom-button-container {
 	display: flex;
 	width: 236px;
 }


 .account-button {
 	font-size: 14;
 	color: #ececec;
 	display: flex;
 	align-items: center;
 	gap: 8px;
 	padding: 8px;
 	flex: 1;
 	cursor: pointer;
 }

 .account-button:hover {
 	background-color: #212121;
 	border-radius: 8px;
 }

 .account-button img {
 	width: 32px;
 	height: 32px;
 	border-radius: 100%;
 }

 .content {
 	display: flex;
 	flex-direction: column;
 	flex: 1;

 }

 .main-content {
 	flex: 1;
 }

 .input-chat-container {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 	padding: 0 8px;

 }

 .input-chat-container p {
 	color: #B4B4B4;
 	font-size: 12px;
 	padding: 8px 60px;
 }

 .input-chat-container form {
 	width: 100%;
 	display: flex;

 	align-items: center;
 	justify-content: center;

 }


 .input-chat {


 	border: 1px solid rgba(255, 255, 255, 0.15);
 	border-radius: 14px;
 	display: flex;
 	align-items: center;
 	padding: 14px 16px;
 	gap: 8px;
 	max-width: 500px;

 	flex: 1;


 }

 .input-chat input {
 	height: 24px;
 	background-color: transparent;
 	border: none;
 	color: white;
 	max-width: 500px;
 	flex: 1;
 	font-size: 16px;


 }

 .input-chat input:focus {
 	outline: none;

 }

 .send-button {
 	background-color: white;
 	opacity: 10%;
 	border-radius: 8px;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	padding: 3px;
 }

 .main-content {
 	display: flex;
 	position: relative;

 	align-items: center;
 	justify-content: center;
 }

 .main-content .logo {
 	height: 48px;
 	width: 48px;
 }

 .main-content .logo svg {
 	height: 32px;
 	width: 32px;
 }

 .main-content h1 {
 	font-size: 24px;
 	color: white;
 }

 .title-home-page {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 }

 .chatgpt-button {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	gap: 4px;
 	position: absolute;
 	top: 6px;
 	left: 6px;
 	cursor: pointer;
 	border-radius: 10px;
 	padding: 8px 12px;

 }

 .chatgpt-button>div {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	gap: 2px;



 }

 .chatgpt-button h3 {
 	font-size: 18px;
 	color: white;
 	font-weight: 500;

 }

 .chatgpt-button span {
 	color: #b4b4b4;
 	font-size: 18px;
 	font-weight: 500;


 }

 .chatgpt-button svg {
 	color: #b4b4b4;
 }

 .chatgpt-button:hover {
 	background-color: #2f2f2f;

 }

 .box-question {
 	border: 1px solid rgba(255, 255, 255, 0.15);
 	border-radius: 14px;
 	display: flex;
 	align-items: center;
 	padding: 12px 16px;
 	box-sizing: border-box;
 	height: 66px;
 	width: 372px;
	flex-direction: column;

 }

 .box-question span.test {
 	font-size: 14px;
 	color: white;
 }
 